<nav class="container">
  <h1 tabindex="1" id="logoTitle" class="col-xs-12 col-sm-6">{{ title }}</h1>
  <div class="nav-links col-xs-12 col-sm-6 text-right">
  
    <span tabindex="2" id="infoView" ng-click="showInfo()"><span class="faux-border"></span>
      <!-- <img src="design/img/info.png" />&nbsp;&nbsp; -->info
    </span><span tabindex="3" id="toggleView" ng-click="toggleSlideView()"><span class="faux-border"></span>
      <!-- <img src="design/img/view.png" />&nbsp;&nbsp; -->list view
    </span><span id="tgFullScrn" tabindex="4" ng-click="toggleFullScreen()"><span class="faux-border"></span>
      <!-- <img src="design/img/fullscrn.png" />&nbsp;&nbsp; -->full screen
    </span>

  <!-- <button type="button" class="col-xs-12 col-sm-4 btn btn-default btn-sm" title="Info">
    <span class="glyphicon glyphicon-info-sign"></span> 

  </button> -->

 <!--  <button type="button" ng-click="toggleSlideView()" id="toggleSlide" class="col-xs-12 col-sm-4 btn btn-default btn-sm" title="List View">
    <span class="glyphicon glyphicon-list-alt"></span> 
  </button>
  <button ng-click="toggleFullScreen()" type="button" class="col-xs-12 col-sm-4 btn btn-default btn-sm" title="Fullscreen View">
    <span class="glyphicon glyphicon-fullscreen"></span>
  </button> -->
</div>
</nav>
<p ng-repeat="p in intro">{{ p }}</p>