body {
	font: 16px/1.4 monospace, "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #444;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background: #00C8BE;
	position: relative;
}
.container {
	width: 100%;
}
#stage {
	background: #00C8BE;
	height: 100%;
	padding: 81px 0;
	text-align: left;
	color: #444;
}
milestones {
	display: block;
	max-width: 760px;
	min-height: 700px;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: #00C8BE;
	-webkit-box-shadow: 0px -8px 39px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -8px 39px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -8px 39px 0px rgba(0,0,0,0.75);
	border-top: 5px solid chartreuse;
}
header h1 {
	font-size: 26px;
	margin: 0;
}
#logoTitle {
	line-height: 60px;
}
header p {
	display: none;
}
footer {
	background: #00C8BE;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 25px 0 30px;
	border-top: 1px solid #0F9E97;
}
.social {
	text-align: center;
}
.social a { 
    margin: 0 10px;
}
main {
	text-align: center;
}
h1 {
	color: #fff;
	letter-spacing: 1px;
}
dl {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px !important;
  	border-top: 1px solid #0F9E97;
}
ul, dd {
	padding: 0;
	margin: 0;
}
dt, li {
	list-style-type: none;
}
dt {
	color: rgb(192, 72, 72);
	font-weight: bold;
	padding: 10px 0 3px;
}

.nav-links span {
	display: inline-block;
	height: 60px;
	padding: 0px 20px;
	line-height: 60px;
	color: chartreuse;
	border-right: 1px solid #0F9E97;
	margin: 0px;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

.nav-links > span:first-child {
	border-left: 1px solid #0F9E97;
}

.nav-links span:hover {
	background: chartreuse;
	color: #0F9E97;
}

.nav-links img {
	height: 20px;
}

.text-right {
	text-align: right;
}

.social {
	text-align: right;
}

.social img {
	height: 40px;
}

#modal, #infoModal {
	position: absolute;
	top: 5%;
	bottom: 12%;
	z-index: 99;
	width: 90%;
	background-color: #fff;
	left: 5%;
	text-align: center;
	font-size: 40px;
	overflow: hidden;
	display: none;

	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#modal blockquote {
	padding: 20px 20px 40px;
	height: 70%;
	overflow-y: scroll;
}

.exit {
	position: absolute;
	right: 14px;
	top: 0px;
}

#modalControls {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0 10px;
	left: 0;
	right: 0;
	background-color: #eee;
}

#percentScrn {
	background: #222;
	opacity: .9;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	display: none;

	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#modal.show, #indoModal.show, #percentScrn.show {
	display: block;

	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

/*
 * =========================================================================== 
 * == Move Slides on Stage w/CSS3 Transitions w/o Using 'position: absoute' ==
 * ===========================================================================
*/

main {
	width: 100%;
	overflow: hidden;
}

#stage { /* $('#stage').on('click', function() { $(this).toggleClass('.slideChange');});*/
	width: 200%;
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    box-sizing: border-box;
    moz=box=sizing: border-box;
}

#stage.slideChange { 
	left: -100%;
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.slides {
	width: 50%;
	float: left;
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*
 * FullScreen
 */

#stage:-webkit-full-screen {
  	width: 100%;
}

#stage:-moz-full-screen {
  width: 100%;
}

#stage:-ms-fullscreen {
  width: 100%;
}

#stage:full-screen { /*pre-spec */
  width: 100%;
}

#stage:fullscreen { /* spec */
  width: 100%;
}

@media screen and (max-width: 767px) {
	footer {
		text-align: center;
	}
	.social {
		padding: 20px 0;
  		clear: both;
  		overflow: hidden;
  		text-align: center;
	}

	.social img {
		height: 50px;
	}
}
